h1{
    color:blue;
    text-align:center;
   }
h2  {
    color:green;
    font-style:italic;
    text-align:center;
    }
p    {
      font-family:sans-serif;

     }
ul{
    line-height:40x;
    text-align:center;
}
p {
    text-align:center;

}
li{
    text-align:center;

}
img{
 position:fixed;
 right:800px;
}